[submodule "library/--branch"]
	path = library/--branch
	url = git@github.com:michaelbecker/freertos-addons.git
[submodule "source/Middlewares/Third_Party/freertos-addons"]
	path = source/Middlewares/Third_Party/freertos-addons
	url = git@github.com:michaelbecker/freertos-addons.git
[submodule "library/tracealyzer"]
	path = library/tracealyzer
	url = git@github.com:percepio/TraceRecorderSource.git
